.App {
    background-color: black;
}

.cross-out {
    position: relative;
    cursor: pointer;
}

.cross-out::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    background: white;
    opacity: 0;
    width: 0; /* Added */
    transform-origin: left center; /* Added */
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Modified */
}

.cross-out:hover::before,
.cross-out.selected::before {
    width: 100%; /* Added */
    opacity: 1;
}

.order-word {
    display: inline-block;
    transition: transform 0.3s ease-in-out; /* Modified */
}

span.switch-order {
    cursor: pointer;
}

.switched #most {
    transform: translateX(calc(100% + 35px));
}

.switched #least {
    transform: translateX(calc(-100% - 35px));
}
