.App {
    background-color: black;
}

/* For crossing-out animation */
.cross-out {
    position: relative;
    cursor: pointer;
}

.cross-out::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 4px;
    background: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.cross-out:hover::before {
    opacity: 1;
}

.cross-out.selected::before {
    opacity: 1;
}

/* For switching words animation */
.order-word {
    display: inline-block;
    transition: transform 0.3s ease;
}

span.switch-order {
    cursor: pointer;
}

.switched #most {
    transform: translateX(calc(100% + 35px)); /* Adjust the percentage and extra pixels as needed */
}

.switched #least {
    transform: translateX(calc(-100% - 35px)); /* Adjust the percentage and extra pixels as needed */
}



